*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
nav{
    margin-bottom: 5%;
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding-right: 5px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
    font-size: 30px;
}
a:hover{
    text-decoration: underline;
}

.issue{
    border: 3px dotted;
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
}
.box{
    border: 3px solid;
    padding: 5px;
    margin: 15px;
}