*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}
body{
    background-color: #251c25;
    font-family: 'EB Garamond', serif;
}
ul{
    list-style: none;
}
header{
    display: flex;
}
nav{
    margin-bottom: 5%;
    width: fit-content;
    height: fit-content;
    padding-right: 5px;
    margin-left: auto;
    margin-right: 45px;
    padding-top: 30px;
}
.heart{
    color: white;
    flex: 2;
    width: 50%;
    margin: auto;
    text-align: center;
    position: relative;   
}

.hearttext{
    position: absolute;
    z-index: 1;
    left: 160px;
    -webkit-text-stroke: 3px black;
    font-size: 190px;
}

img{
    max-width: 300px;
    position: relative;
    right: 100px;
    z-index: 0;
}

a{
    text-decoration: none;
    font-size: 30px;
    color:white;
}
a:hover{
    text-decoration: underline;
    font-style: italic;
}


footer {
    color: white;
}

.content {
    font-size: 22px;
    margin: auto;
    color: white;
    line-height: 2;
    margin-bottom: 20px;
    width: 90%;
}

.row{
    display: flex;
    font-size: 22px;
    margin: auto;
    line-height: 2;
    margin-bottom: 20px;
    width: 80%;
}

.par {
    color: white;
    flex: 1;
    font-size: 22px;
    color: white;
    margin: 25px;
}

.quest {
    color: white;
    flex: 1;
    font-size: 60px;
    font-style: italic;
    padding-top: 30px;
    color: white;
    margin: 25px;
}