*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}
body{
    background-color: #251c25;
    font-family: 'EB Garamond', serif;
}
ul{
    list-style: none;
}
header{
    display: flex;
}
nav{
    margin-bottom: 5%;
    width: fit-content;
    height: fit-content;
    padding-right: 5px;
    margin-left: auto;
    margin-right: 45px;
    padding-top: 30px;
}
.heart{
    color: white;
    flex: 2;
    width: 50%;
    margin: auto;
    text-align: center;
    position: relative;   
}

.hearttext{
    position: absolute;
    z-index: 1;
    left: 160px;
    -webkit-text-stroke: 3px black;
    font-size: 190px;
}

img{
    max-width: 300px;
    position: relative;
    right: 100px;
    z-index: 0;
}

a{
    text-decoration: none;
    font-size: 30px;
    color:white;
}
a:hover{
    text-decoration: underline;
    font-style: italic;
}

footer {
    color: white;
}

.article{
    margin: auto;
    width: 60%;
}

.essay_title {
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 75px;
    font-style: bold;
    flex: 1;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 50px;
}

.author {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: x-large;
}

.content {
    flex: 1.75;
    font-size: 22px;
    margin: auto;
    color: white;
    line-height: 2;
    margin-bottom: 20px;
    width: 70%;
}

.par {
    margin-bottom: 50px;
}

/*cribbed code from W3*/
/* Tooltip container */
.tooltip {
    vertical-align: super;
    display: inline-block;
    text-indent: 0px;
    font-size: 15px;
    color: rgb(255, 166, 0);
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: large;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}